POSTGRES_DB=your_db_name_here
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here

GOOGLE_CLIENT_ID=YOUR_ACTUAL_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_ACTUAL_GOOGLE_CLIENT_SECRET
JWT_SECRET=YOUR_ACTUAL_JWT_SECRET